body{
    background: #fff;
    transition: 0.2s all;
}
.dark body{
    background: #05002e;
    transition: 0.2s all;
}
html{
    scroll-behavior: smooth;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}